{% extends 'base.html' %}

{% block main %}
    <div class ="pagetitle">
      <h1>Inventory</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <!-- <div class="row">
        <div class="col-lg-12"> -->
          <div class="row m-2">
            <!-- Vertically centered Modal -->
             <div class="col">
               <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#verticalycentered">
                 Filter
               </button>
               <a href="{% url 'updateinventory' 1 %} " class="btn btn-primary">
                 Edit
               </a>
               <a href="{% url 'addinventory' %}" class="btn btn-primary">
                 New Item
               </a>

            </div>
            <div class="modal fade" id="verticalycentered" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Filter</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Non omnis incidunt qui sed occaecati magni asperiores est mollitia. Soluta at et reprehenderit. Placeat autem numquam et fuga numquam. Tempora in facere consequatur sit dolor ipsum. Consequatur nemo amet incidunt est facilis. Dolorem neque recusandae quo sit molestias sint dignissimos.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Apply</button>
                  </div>
                </div>
              </div>
            </div><!-- End Vertically centered Modal-->
      </div>
      <form action="{% url 'create_sales' %}" method="post">
        {%csrf_token%}
        <button type="submit" class="btn btn-primary">Order</button>
        <div class="card py-3 m-2">
            <div class="card-body">
              
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th>Select</th>
                    <th>Photo</th>
                    <th>
                      Name
                    </th>
                    <th>SKU</th>
                    <th>Dimensions</th>
                    <th>Purchasing Price</th>
                    <th>Selling Price</th>
                    <th>On-Hand</th>
                    <th>Units</th>
                    <th data-type="date" data-format="YYYY/DD/MM">Updated</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in inventory %}
                  <tr>
                    <td><input type="checkbox" name="item" id="" value="{{i.id}}" ></td>
                    <td>{{i.photo}}</td>
                    <td><a href="#">{{i.name}}</a></td>
                    <td>{{i.sku}}</td>
                    <td>{{i.dimensions}}</td>
                    <td>{{i.purchasing_price}}</td>
                    <td>{{i.selling_price}}</td>
                    <td>{{i.on_hand}}</td>
                    <td>{{i.units}}</td>
                    <td>{{i.updated}}</td>
                  </tr>
                  {% endfor %}
                    
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
            </div>
          </div>
      </form>
          


        </div>
      </div>
    </section>

 {% endblock %}