{% extends 'base.html' %}

{% block main %}
    
    <nav style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="sales_orders.html">sales Order</a></li>
          <li class="breadcrumb-item">sales Order #{{number}}</li>
          <li class="active breadcrumb-item">package #{{pack_number}}</li>
        </ol>
      </nav>

<!-- status -->
 <div class="row">
    <div class="col-4 row">
        <div class="col w-10" >Status</div>
        <div class="col w-10 badge bg-secondary rounded-pill">{{sales.status.status}}</div>
    </div>
    <div class="col-8 row">
        <button class="btn btn-sm col">Edit package</button>
        <button class="btn btn-sm col">Delete package</button>
        <a href="#" class="btn btn-sm col btn-success" onclick="fetch('http://127.0.0.1:8000/ims/v1/saless/sales_approve/{{number}}/')">create package</a>
    </div>
    <ul class="progress-tracker">
        <li class="progress-step {% if sales.status.id > 1 %}is-complete {% elif sales.status.id == 1 %}is-active {% endif %}">
            Draft package slip creation {{package.status.id }}
          <div class="progress-marker"></div>
        </li>
        <li class="progress-step {% if package.status.id > 2 %}is-complete {% elif package.status.id == 2 %}is-active {% endif %} ">
            Awaiting packing
          <div class="progress-marker"></div>
        </li>
        <li class="progress-step {% if package.status.id > 3 %}is-complete {% elif package.status.id == 3 %}is-active {% endif %}">
            Ready for shipping
          <div class="progress-marker"></div>
        </li>
        <li class="progress-step {% if package.status.id > 4 %}is-complete {% elif package.status.id == 4 %}is-active {% endif %}" >
            shipped
          <div class="progress-marker {% if package.status.id > 5 %}is-complete {% elif package.status.id == 5 %}is-active {% endif %}"></div>
        </li>
      </ul>
 </div>
<!-- package order card -->
      <div class="card p-4">
        <h2 class="p-3">PACKAGE SLIP #{{package.id}}</h2>
        <div class="card-body">
            <div class="row">
                <div class="col-6 ">
                    <b>Ohio, Columbus, 5303 Fisher Rd</b><br>
                    <b>614-205-9702</b>
                </div>
                <div class="col-6">
                    Created On Date: <b>{{package.created_date}}</b>
                    <br>Estimated Packing Date: <b>{{package.estimatd_date}}</b>
                </div>
                <div class="row pt-4">
                      
                    <div class="col-lg-6">
                      <div class="card p-2">
                        <div class="row">
                            <div class="col-4">company: </div>
                            <div class="col-8">{{sales.customer}}</div>
                        </div>
                        <div class="row">
                            <div class="col-4">Address: </div>
                            <div class="col-8">{{sales.ship_address}}</div>
                        </div>
                        <div class="row">
                            <div class="col-4">Linked to sales order: </div>
                            <div class="col-8">{{sales.id}}</div>
                        </div>
                    </div>
                      </div> 
                    
                </div>
                <!-- item detail table -->
                <h5><b>Item details</b></h5>
                  <div class="card">
                    <table class="table">
                    <thead>
                      <tr>
                        <td>Photo</td>
                        <td>
                          Name
                        </td>
                        <td>SKU</td>
                        <td>Weight</td>
                        <td>Shipping Dimensions</td>
                        <td>Units</td>
                        <td>Quantity</td>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in items %}
                      <tr> 
                      <td><a href="#"><img width="50" src="assets/img/product-1.jpg" alt=""></a></td>
                      <td>{{i.item_id.name}}</td>
                      <td>{{i.item_id.sku}}</td>
                      <td>{{i.weight}}</td>
                      <td>{{i.dimension}}</td>
                      <td>{{i.units}}</td>
                      <td>{{i.quantity}}</td>
                    </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->
            
            </div>
            
                  </div>
        </div>
            
                  

        </div>
      </div>
{% endblock %}</div>