{% extends 'base.html' %}
{% load static %}

{% block main %}

    
    <nav style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="sales_orders.html">sales Order</a></li>
          <li class="active breadcrumb-item">New sales Order #{{number}}</li>
        </ol>
      </nav>

<!-- status -->
 <div class="row">
    <div class="col-4 row">
        <div class="col w-10" >Status</div>
        <span class="col w-10 badge rounded-pill" id="status"></span>
    </div>
    <div class="col-8 row">
        <button class="btn btn-sm col">Edit order</button>
        <button class="btn btn-sm col">Cancel order</button>
        <a href="#" class="btn btn-sm col btn-success" onclick="fetch('http://127.0.0.1:8000/ims/v1/saless/package/{{number}}/').then((response)=>window.location.reload(false))">create package</a>
    </div>
    <ul class="progress-tracker">
        <li class="progress-step {% if sales.status.id > 1 %}is-complete {% elif sales.status.id == 1 %}is-active {% endif %}">
            Draft sales creation {{sales.status.id }}
          <div class="progress-marker"></div>
        </li>
        <li class="progress-step {% if sales.status.id > 2 %}is-complete {% elif sales.status.id == 2 %}is-active {% endif %} ">
            Awaiting packing
          <div class="progress-marker"></div>
        </li>
        <li class="progress-step {% if sales.status.id > 3 %}is-complete {% elif sales.status.id == 3 %}is-active {% endif %}">
            Awaiting shipment
          <div class="progress-marker"></div>
        </li>
        <li class="progress-step {% if sales.status.id > 4 %}is-complete {% elif sales.status.id == 4 %}is-active {% endif %}" >
            Received by the customer
          <div class="progress-marker {% if sales.status.id > 5 %}is-complete {% elif sales.status.id == 5 %}is-active {% endif %}"></div>
        </li>
        <li class="progress-step {% if sales.status.id > 6 %}is-complete {% elif sales.status.id == 6 %}is-active {% endif %}">
            Payed by the customer
          <div class="progress-marker"></div>
        </li>
        <!-- <li class="progress-step {% if sales.status.id > 7 %}is-complete {% elif sales.status.id == 7 %}is-active {% endif %}">
            Order dispatched
          <div class="progress-marker"></div>
        </li> -->
      </ul>
 </div>
<!-- sales order card -->
      <div class="card p-4">
        <h2 class="p-3">SALES ORDER#{{sales.id}}</h2>
        <div class="card-body">
            <div class="row">
                <div class="col-6 ">
                    <b>Ohio, Columbus, 5303 Fisher Rd</b><br>
                    <b>614-205-9702</b>
                </div>
                <div class="col-6">
                    Created On Date: <b>{{sales.created_date}}</b>
                    <br> Preferred Shipping Date: <b>{{sales.preferred_shipping_date}}</b>
                </div>
                <div class="row pt-4">

                  <div class="col-lg-6">
                    <div class="card p-2">
                      <h6 class="card-title p-1">From</h6>
                      <div class="row">
                          <div class="col-4">company: </div>
                          <div class="col-8"><label>Engineered Wood Construction</label></div>
                      </div>
                      <div class="row">
                          <div class="col-4">Address: </div>
                          <div class="col-8">{{sales.warehouse.address}}</div>
                      </div>
                      <div class="row">
                          <div class="col-4">Phone: </div>
                          <div class="col-8">{{sales.warehouse.contact_phone}}</div>
                      </div>
                  </div>
                    </div>
                      
                    <div class="col-lg-6">
                      <div class="card p-2">
                        <h6 class="card-title p-1 ">To</h6>
                        <div class="row">
                            <div class="col-4">company: </div>
                            <div class="col-8">{{sales.customer}}</div>
                        </div>
                        <div class="row">
                            <div class="col-4">Address: </div>
                            <div class="col-8">{{sales.ship_address}}</div>
                        </div>
                        <div class="row">
                            <div class="col-4">Phone: </div>
                            <div class="col-8">{{sales.contact_phone}}</div>
                        </div>
                    </div>
                      </div> 
                    
                </div>
                <!-- item detail table -->
                <h5><b>Item details</b></h5>
                  <div class="card">
                    <table class="table">
                    <thead>
                      <tr>
                        <td>Photo</td>
                        <td>
                          Name
                        </td>
                        <td>SKU</td>
                        <td>Price</td>
                        <td>Units</td>
                        <td>Quantity</td>
                        <td>Total</td>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in items %}
                      <tr> 
                      <td><a href="#"><img width="50" src="assets/img/product-1.jpg" alt=""></a></td>
                      <td>{{i.item_id.name}}</td>
                      <td>{{i.item_id.sku}}</td>
                      <td>{{i.price}}</td>
                      <td>{{i.units}}</td>
                      <td>{{i.quantity}}</td>
                      <td>{{i.total_price}}</td>
                    </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->
                <div class="row">
                <p class="col-2">Subtotal</p>
                <p class="col-3">$2354626</p>
              </div>
                <div class="row">
                <p class="col-2">Shipping</p>
                <p class="col-3">$0.00</p>
              </div>
                <div class="row">
                <h4 class="col-2">Total</h4>
                <h4 class="col-4">{{sales.total_amount}}</h4>
            </div>
            </div>
            
            </div>
            
                  </div>
        </div>
            
                  

        </div>
      </div>
  <script src="{% static 'assets/js/sales.js' %}"
      defer 
      data-status="{{sales.status.status}}"
      data-id="{{sales.status.id}}">
    </script>
{% endblock %}</div>