{% extends 'base.html' %}
{% load static %}
{% block nav_dashboard %}{%endblock%}
{% block main %}
{%load sum_filter %}
<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  
  

  


  <section class="section dashboard">

   
    <form action="">
      <div class="row">
        <select class="form-select col" name="warehouse" id="warehouse" onchange="this.form.submit()">
          {% for i in warehouses %}
          <option class="bi bi-menu-button-wide" value="{{i.id}}" {% if i.id == w %} selected {% endif %}>{{i.name}}</option>
          {% endfor %}
          <!-- <option class="bi bi-menu-button-wide"  selected>sf</option>
          <option class="bi bi-menu-button-wide"  >dfsf</option> -->
  
        </select>
        <div class="col">
            <select name="date" class=" form-select" onchange="this.form.submit()">
              <option value="today" {% if date == 'today' %} selected {% endif %}>Today</option>
              <option value="month" {% if date == 'month' %} selected {% endif %}>This Month</option>
              <option value="year" {% if date == 'year' %} selected {% endif %}>This Year</option>
              <option value="week" {% if date == 'week' %} selected {% endif %}>This Week</option>
            </select>
        </div>
      </div>
     
    </form>



    <div class="row">

     
      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">
          <div class="row">
            <div class="col-8">


        <!-- sales activity -->
        <div class="card p-1 my-3 border bg-white" >
          <h5 class="card-title ps-2 ">Sales activity<span>| {{date|date_filter}}</span></h5>
        
          <div class="d-flex align-items-center p-2">
           <a class="link" href="{% url 'sales' %}">
             <div class="text-center p-2">
               <h3 class="text-primary">{{sales_activity.pack}}
               </h3>
                <span class="text-muted small pt-2 ps-1">Pkgs</span>
                <p class="text-muted small pt-2 ps-1">TO BE PACKED</p>
             </div></a>
             <a class="link" href="{% url 'sales' %}"><div class="text-center  p-2">
              <h3 class="text-danger">{{sales_activity.ship}}</h3>
               <span class="text-muted small pt-2 ps-1">Qty</span>
               <p class="text-muted small pt-2 ps-1">TO BE SHIPPED</p>
            </div> </a>
          
           <a class="link" href="{% url 'sales' %}"><div class="text-center  p-2">
              <h3 class="text-success">{{sales_activity.deliver}}</h3>
               <span class="text-muted small pt-2 ps-1">Qty</span>
               <p class="text-muted small pt-2 ps-1">TO BE DELIVERED</p>
            </div></a>
            
            
          </div>
        </div>
            </div>
        
        
            <div class="col-4">
        <!-- inventory summary -->
        <div class="card p-1 my-3 border bg-white" >
          <h5 class="card-title ps-2">Inventory Summary </h5>
        
          <div class="d-flex flex-column align-items-center ">
           
            <div class="row text-center ">
              <span class="col-6 text-muted small p-2">QUANTITY IN HAND </span>
              <h3 class="col-6 p-2 ">{{inventory.on_hand.on_hand}}</h3>
            </div>
            <div class="row text-center">
              <span class="col-6 text-muted small p-2">QUANTITY TO BE RECEIVED</span>
              <h3 class="col-6 p-2 ">{{inventory.recieve}}</h3>
            </div>
            
          </div>
        </div>
            </div>
            </div>
          <!-- </div> -->
        
          
        <div class="row">
        
          <div class="col-4">
        <div class="p-1 my-2 border card " >
            <h5 class="card-title ps-1">Purchase Order <span>| {{date|date_filter}}</span></h5>
        
            <div class="d-flex flex-column align-items-center ">
             
              <div class="text-center p-2">
                <span class="text-muted small ">Items Orderd</span>
                <h3 class="p-2 text-primary">{{purchase.items}}</h3>
              </div>
              <div class="text-center p-2">
                <span class="text-muted small ">Quantity Orderd</span>
                <h3 class="p-2 text-primary">{{purchase.quantity}}</h3>
              </div>
              <div class="text-center  p-2">
                <span class="text-muted small ">Total cost</span>
                <h3 class="p-2 text-primary">₹{{purchase.amount}}</h3>
              </div>
              
            </div>
          </div>
          </div>
        
<div class="col">
                    <!-- Top Selling -->
                    <div class="col-12">
                      <div class="card top-selling overflow-auto">
          
                        <div class="filter">
                          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                            </li>
          
                            <li><a class="dropdown-item" href="?date=today">Today</a></li>
                            <li><a class="dropdown-item" href="?date=week">This Week</a></li>
                            <li><a class="dropdown-item" href="?date=month">This Month</a></li>
                            <li><a class="dropdown-item" href="?date=year">This Year</a></li>
                          </ul>
                        </div>
          
                        <div class="card-body pb-0">
                          <h5 class="card-title">Top Selling <span>| {{date|date_filter}}</span></h5>
          
                          <table class="table table-borderless">
                            <thead>
                              <tr>
                                <th scope="col">Preview</th>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Revenue</th>
                                <th scope="col">On Hand</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for i in inventory.top_selling %}
                              <tr>
                                <th scope="row"><a href="#"><img src="{%if i.item.photo%} {{i.item.photo.url}} {%endif%}" alt="{{i.item.name}} image"></a></th>
                                <td><a href="#" class="text-primary fw-bold">{{i.item.name}}</a></td>
                                <td class="fw-bold ">₹{{i.item.selling_price}}
                                <td class="fw-bold">₹{{i.amount}}</td>
                                    <td class="fw-bold ">{{i.item.on_hand}}
                                </td>
                              </tr>
                              {% endfor %}
                              
                            </tbody>
                          </table>
          
                        </div>
          
                      </div>
                    </div><!-- End Top Selling -->

</div>


        
          <div class="col-8">
            <!-- Sales orders -->


          </div>
        </div>
          <!-- Sales Card -->
          <!-- <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Sales <span>| {{date|date_filter}}</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart"></i>
                  </div>
                  <div class="ps-3">
                    <h6>145</h6>
                    <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                  </div>
                </div>
              </div>

            </div>
          </div>End Sales Card -->

          <!-- Revenue Card -->
          <!-- <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Revenue <span>| This Month</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-currency-dollar"></i>
                  </div>
                  <div class="ps-3">
                    <h6>$3,264</h6>
                    <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                  </div>
                </div>
              </div>

            </div>
          </div>End Revenue Card -->

          <!-- Customers Card -->
          <!-- <div class="col-xxl-4 col-xl-12">

            <div class="card info-card customers-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Customers <span>| This Year</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>1244</h6>
                    <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                  </div>
                </div>

              </div>
            </div>

          </div>End Customers Card -->

                    <!-- Recent Sales -->
                    <div class="col-12" id="recent-sales">
                      <div class="card recent-sales overflow-auto">
          
                        <div class="filter">
                          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                            </li>
          
                            <li><a class="dropdown-item" href="?date=today#recent-sales">Today</a></li>
                            <li><a class="dropdown-item" href="?date=week#recent-sales">This Week</a></li>
                            <li><a class="dropdown-item" href="?date=month#recent-sales">This Month</a></li>
                            <li><a class="dropdown-item" href="?date=year#recent-sales">This Year</a></li>
                          </ul>
                        </div>
          
                        <div class="card-body">
                          <h5 class="card-title">Recent Sales <span>| {{date|date_filter}}</span></h5>
          
                          <table class="table table-borderless datatable">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Created date</th>
                                <th scope="col">Price</th>
                                <th scope="col">Status</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for i in recent_sales %}
                              <tr>
                                <th scope="row"><a href="#">#{{i.id}}</a></th>
                                <td>{{i.customer}}
                                </td>
                                <td><a href="#" class="text-primary">{{i.created_date}}</a></td>
                                <td>₹{{i.total_amount}}</td>
                                <td><span class="badge {%if i.status.id == 0%}bg-info{%elif i.status.id == 1%}bg-secondary{%elif i.status.id == 2%}bg-primary{%elif i.status.id == 3%}bg-success{%elif i.status.id == 4%}bg-info{%elif i.status.id == 5%}bg-primary{%elif i.status.id == 6%}bg-danger{%endif%}">{{i.status.status}}</span></td>

                              </tr>
                              {% endfor %}
                              <!-- <tr>
                                <th scope="row"><a href="#">#2147</a></th>
                                <td>Bridie Kessler</td>
                                <td><a href="#" class="text-primary">Blanditiis dolor omnis similique</a></td>
                                <td>$47</td>
                                <td><span class="badge bg-warning">Pending</span></td>
                              </tr>
                              <tr>
                                <th scope="row"><a href="#">#2049</a></th>
                                <td>Ashleigh Langosh</td>
                                <td><a href="#" class="text-primary">At recusandae consectetur</a></td>
                                <td>$147</td>
                                <td><span class="badge bg-success">Approved</span></td>
                              </tr>
                              <tr>
                                <th scope="row"><a href="#">#2644</a></th>
                                <td>Angus Grady</td>
                                <td><a href="#" class="text-primar">Ut voluptatem id earum et</a></td>
                                <td>$67</td>
                                <td><span class="badge bg-danger">Rejected</span></td>
                              </tr>
                              <tr>
                                <th scope="row"><a href="#">#2644</a></th>
                                <td>Raheem Lehner</td>
                                <td><a href="#" class="text-primary">Sunt similique distinctio</a></td>
                                <td>$165</td>
                                <td><span class="badge bg-success">Approved</span></td>
                              </tr> -->
                            </tbody>
                          </table>
          
                        </div>
          
                      </div>
                    </div><!-- End Recent Sales -->

          <!-- Reports -->
          <div class="col-12 " id="reports-graph">
            <div class="card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>
                  <li><a class="dropdown-item" href="?date=today#reports-graph">Today</a></li>
                  <li><a class="dropdown-item" href="?date=week#reports-graph">This Week</a></li>
                  <li><a class="dropdown-item" href="?date=month#reports-graph">This Month</a></li>
                  <li><a class="dropdown-item" href="?date=year#reports-graph">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Purchases and Sales in K<span>/{{date|date_filter}}</span></h5>

                <!-- Line Chart -->
                <div id="reports" style="min-height: 400px;" class="echart"></div>


                <script data-data="{{total_sales|safe}}"
                data-purchases="{{total_purchases|safe}}"
                data-x="{{reports_y|safe}}">
                  const data = document.currentScript.dataset;
                  const sales=data.data
                  const purchases=data.purchases
                  const x = JSON.parse(data.x)
                  console.log(x)
                  document.addEventListener("DOMContentLoaded", () => {
                    echarts.init(document.querySelector("#reports")).setOption({
  xAxis: {
    data: x
  },
  legend: {
          top: '5%',
          left: 'center',
          show:true
        },
  yAxis: {
  },
  
  series: [
    {
      data: sales,
      type: 'line',
      stack: 'x',
      areaStyle: {}
    },
    {
      data: purchases,
      type: 'line',
      stack: 'x',
      areaStyle: {}
    }
  ]
});
                  });
                </script>
                <!-- End Line Chart -->

              </div>

            </div>
          </div><!-- End Reports -->




        </div>
      </div><!-- End Left side columns -->

      <!-- Right side columns -->
      <div class="col-lg-4 mt-4" id="inventory-pie">


          <!-- INventory  -->
          <div class="card" >

            <div class="card-body pb-0">
              <h5 class="card-title">Inventory </h5>
              <div class="row">
                <div id="inventoryChart" style="min-height: 400px;" class="echart"></div>
  
                <script data-data="{{stock}}">
                  let d = document.currentScript.dataset
                  let val = JSON.parse(d.data)
                  let m= Object.keys(val).sort((a,b)=>a-b)
                  let map = m.map((e) =>{ return {
                    'name':e,
                    'value':val[e]
                  }})
                  document.addEventListener("DOMContentLoaded", () => {
                    
                   var myChart = echarts.init(document.querySelector("#inventoryChart"))
                   myChart.setOption({
                      tooltip: {
                        trigger: 'item'
                      },color: [
                        'rgb(200, 56, 50)',
                        'rgb(242, 56, 66)',
                        'rgb(24, 202, 238)',
          '#37A2DA',
          '#32C5E9',
          '#67E0E3',
          '#9FE6B8',
          '#ff9f7f',
          '#E062AE',
          '#e7bcf3',
          '#9d96f5',
          '#8378EA',
          '#96BFFF'
        ],
                      legend: {
                        top: '5%',
                        left: 'center',
                        data: m,
                        formatter: (name) => {
                          var series = myChart.getOption().series[0];
                          var value = series.data.filter(row => row.name === name)[0].value;
                          return name + '    ' + value;
                        },
                      },
                      series: [{
                        // name: 'Access From',
                        type: 'pie',
                        radius: ['40%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                          show: false,
                          position: 'center'
                        },
                        emphasis: {
                          label: {
                            show: true,
                            fontSize: '18',
                            fontWeight: 'bold',
                            
                          }
                        },
                        labelLine: {
                          show: true
                        },
                        
                        data:map,
                        
                      }]
                    });
                  });
                </script>
    
              </div>
              </div>
          </div><!-- End inventory pie  -->

          <!-- sales orders pie -->
          <div class="card" id="sales-pie">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>
                <li><a class="dropdown-item" href="?date=today#sales-pie">Today</a></li>
                <li><a class="dropdown-item" href="?date=week#sales-pie">This Week</a></li>
                <li><a class="dropdown-item" href="?date=month#sales-pie">This Month</a></li>
                <li><a class="dropdown-item" href="?date=year#sales-pie">This Year</a></li>
              </ul>
            </div>
  
            <div class="card-body pb-0">
              <h5 class="card-title">Sales Orders<span>| {{date|date_filter}}</span></h5>
              <div class="row">
                <div id="salesChart" style="min-height: 400px;" class="echart"></div>
  
                <script data-sales="{{sales}}">
                   d = document.currentScript.dataset
                   vals = JSON.parse(d.sales)
                   km= Object.keys(vals)
                   sales_map = km.map((e) =>{ return {
                    'name':e,
                    'value':vals[e]
                  }})
                  document.addEventListener("DOMContentLoaded", () => {
                    var inventoryChart = echarts.init(document.querySelector("#salesChart"));
                    inventoryChart.setOption({
                      tooltip: {
                        trigger: 'item'
                      },
                      color:[
                        'rgb(16, 207, 200)',
          'rgb(6, 255, 64)',
          'rgb(183, 205, 87)',
          '#9d96f5',
          '#FFDB5C',
          '#8378EA',
          '#67E0E3',
          '#9FE6B8',
          '#ff9f7f',
          '#fb7293',
          '#E062AE',
          '#E690D1',
          '#e7bcf3',
        ],
                      legend: {
                        top: '5%',
                        left: 'center',
                        formatter: (name) => {
                          var series = inventoryChart.getOption().series[0];
                          var value = series.data.filter(row => row.name === name)[0].value;
                          return name + '    ' + value;
                        },
                      },
                      series: [{
                        // name: 'Access From',
                        type: 'pie',
                        radius: ['40%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                          show: false,
                          position: 'center'
                        },
                        emphasis: {
                          label: {
                            show: true,
                            fontSize: '18',
                            fontWeight: 'bold',
                            
                          }
                        },
                        labelLine: {
                          show: true
                        },
                        
                        data:sales_map,
                        
                      }]
                    });
                  });
                </script>
    
              </div>
              </div>
              
          </div>
  <!-- End sales pie -->

      


       

      </div><!-- End Right side columns -->

    </div>
  </section>
{% endblock %}













 <!-- News & Updates Traffic -->
 <div class="card">
  <div class="filter">
    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
      <li class="dropdown-header text-start">
        <h6>Filter</h6>
      </li>

      <li><a class="dropdown-item" href="?date=today">Today</a></li>
                            <li><a class="dropdown-item" href="?date=week">This Week</a></li>
                            <li><a class="dropdown-item" href="?date=month">This Month</a></li>
                            <li><a class="dropdown-item" href="?date=year">This Year</a></li>
    </ul>
  </div>

  <div class="card-body pb-0">
    <h5 class="card-title">News &amp; Updates <span>| {{date|date_filter}}</span></h5>

    <div class="news">
      <div class="post-item clearfix">
        <!-- <img src="{% static 'assets/img/news-1.jpg" alt=""> -->
        <h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
        <p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
      </div>

      <div class="post-item clearfix">
        <!-- <img src="{% static 'assets/img/news-2.jpg" alt=""> -->
        <h4><a href="#">Quidem autem et impedit</a></h4>
        <p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>
      </div>

      <div class="post-item clearfix">
        <!-- <img src="{% static 'assets/img/news-3.jpg" alt=""> -->
        <h4><a href="#">Id quia et et ut maxime similique occaecati ut</a></h4>
        <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>
      </div>

      <div class="post-item clearfix">
        <!-- <img src="{% static 'assets/img/news-4.jpg" alt=""> -->
        <h4><a href="#">Laborum corporis quo dara net para</a></h4>
        <p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...</p>
      </div>

      <div class="post-item clearfix">
        <!-- <img src="{% static 'assets/img/news-5.jpg" alt=""> -->
        <h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>
        <p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...</p>
      </div>

    </div><!-- End sidebar recent posts-->

  </div>
</div>End News & Updates





 <!-- Recent Activity -->
 <div class="card">
  <div class="filter">
    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
      <li class="dropdown-header text-start">
        <h6>Filter</h6>
      </li>

      <li><a class="dropdown-item" href="#">Today</a></li>
      <li><a class="dropdown-item" href="#">This Month</a></li>
      <li><a class="dropdown-item" href="#">This Year</a></li>
    </ul>
  </div>

  <div class="card-body">
    <h5 class="card-title">Recent Activity <span>| {{date|date_filter}}</span></h5>

    <div class="activity">

      <div class="activity-item d-flex">
        <div class="activite-label">32 min</div>
        <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
        <div class="activity-content">
          Quia quae rerum <a href="#" class="fw-bold text-dark">explicabo officiis</a> beatae
        </div>
      </div><!-- End activity item-->

      <div class="activity-item d-flex">
        <div class="activite-label">56 min</div>
        <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
        <div class="activity-content">
          Voluptatem blanditiis blanditiis eveniet
        </div>
      </div><!-- End activity item-->

      <div class="activity-item d-flex">
        <div class="activite-label">2 hrs</div>
        <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
        <div class="activity-content">
          Voluptates corrupti molestias voluptatem
        </div>
      </div><!-- End activity item-->

      <div class="activity-item d-flex">
        <div class="activite-label">1 day</div>
        <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
        <div class="activity-content">
          Tempore autem saepe <a href="#" class="fw-bold text-dark">occaecati voluptatem</a> tempore
        </div>
      </div><!-- End activity item-->

      <div class="activity-item d-flex">
        <div class="activite-label">2 days</div>
        <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
        <div class="activity-content">
          Est sit eum reiciendis exercitationem
        </div>
      </div><!-- End activity item-->

      <div class="activity-item d-flex">
        <div class="activite-label">4 weeks</div>
        <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
        <div class="activity-content">
          Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
        </div>
      </div><!-- End activity item-->

    </div>

  </div>
</div><!-- End Recent Activity -->