{% extends 'base.html' %}

{% block main %}
    
    <nav style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="purchase_orders.html">Purchase Order</a></li>
          <li class="active breadcrumb-item">New purcahse Order #{{number}}</li>
        </ol>
      </nav>

<!-- status -->
 <div class="row">
    <div class="col-4 row">
        <div class="col w-10" >Status</div>
        <div class="col w-10 badge bg-secondary rounded-pill">Draft</div>
    </div>
    <div class="col-8 row">
        <button class="btn btn-sm col">Edit order</button>
        <button class="btn btn-sm col">Cancel order</button>
        <button class="btn btn-sm col btn-success">send for approval</button>
    </div>
    <ul class="progress-tracker">
        <li class="progress-step is-complete">
            Draft purchase creation
          <div class="progress-marker"></div>
        </li>
        <li class="progress-step is-complete">
            Awaiting purchasing team approval
          <div class="progress-marker"></div>
        </li>
        <li class="progress-step is-active">
            Awaiting Supplier approval
          <div class="progress-marker"></div>
        </li>
        <li class="progress-step">
            Order processing
          <div class="progress-marker"></div>
        </li>
        <li class="progress-step">
            Awaiting shipment
          <div class="progress-marker"></div>
        </li>
        <li class="progress-step">
            Order dispatched
          <div class="progress-marker"></div>
        </li>
      </ul>
 </div>
<!-- Purchase order card -->
      <div class="card p-4">
        <h2 class="p-3">PURCHASE ORDER</h2>
        <div class="card-body">
            <div class="row">
                <div class="col-6 ">
                    <b>Ohio, Columbus, 5303 Fisher Rd</b><br>
                    <b>614-205-9702</b>
                </div>
                <div class="col-6">
                    Created On Date: <b>{{purchase.created_date}}</b>
                    <br> Preferred Shipping Date: <b>{{purchase.preferred_shipping_date}}</b>
                </div>
                <div class="row pt-4">
                    <div class="col-lg-6">
                      <div class="card p-2">
                        <h6 class="card-title p-1 ">From</h6>
                        <div class="row">
                            <div class="col-4">company: </div>
                            <div class="col-8">{{purchase.supplier}}</div>
                        </div>
                        <div class="row">
                            <div class="col-4">Address: </div>
                            <div class="col-8">{{purchase.bill_address}}</div>
                        </div>
                        <div class="row">
                            <div class="col-4">Phone: </div>
                            <div class="col-8">{{purchase.contact_phone}}</div>
                        </div>
                    </div>
                      </div>
                        
                    <div class="col-lg-6">
                      <div class="card p-2">
                        <h6 class="card-title p-1">Ship To</h6>
                        <div class="row">
                            <div class="col-4">company: </div>
                            <div class="col-8"><label>Engineered Wood Construction</label></div>
                        </div>
                        <div class="row">
                            <div class="col-4">Address: </div>
                            <div class="col-8">{{purchase.warehouse.address}}</div>
                        </div>
                        <div class="row">
                            <div class="col-4">Phone: </div>
                            <div class="col-8">{{purchase.warehouse.contact_phone}}</div>
                        </div>
                    </div>
                      </div>
                        
                </div>
                <!-- item detail table -->
                <h5><b>Item details</b></h5>
                  <div class="card">
                    <table class="table">
                    <thead>
                      <tr>
                        <td>Photo</td>
                        <td>
                          Name
                        </td>
                        <td>SKU</td>
                        <td>Price</td>
                        <td>Units</td>
                        <td>Quantity</td>
                        <td>Total</td>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in items %}
                      <tr> 
                      <td><a href="#"><img width="50" src="assets/img/product-1.jpg" alt=""></a></td>
                      <td>{{i.item_id.name}}</td>
                      <td>{{i.item_id.sku}}</td>
                      <td>{{i.price}}</td>
                      <td>{{i.units}}</td>
                      <td>{{i.quantity}}</td>
                      <td>{{i.total_price}}</td>
                    </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->
                <div class="row">
                <p class="col-2">Subtotal</p>
                <p class="col-3">$2354626</p>
              </div>
                <div class="row">
                <p class="col-2">Shipping</p>
                <p class="col-3">$0.00</p>
              </div>
                <div class="row">
                <h4 class="col-2">Total</h4>
                <h4 class="col-4">{{purchase.total_amount}}</h4>
            </div>
            </div>
            
            </div>
            
                  </div>
        </div>
            
                  

        </div>
      </div>
{% endblock %}</div>