{% extends 'base.html' %}

{% block main %}
    
    <nav style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="purchase_orders.html">Purchase Order</a></li>
          <li class="active breadcrumb-item">New purcahse Order #{number}</li>
        </ol>
      </nav>

<!-- status -->
 <div class="row">
    <div class="col-4 row">
        <div class="col-4">Status</div>
        <div class="col-3 badge bg-secondary rounded-pill">Draft</div>
    </div>
    <div class="col-8 row">
        <button class="btn btn-sm col">Edit order</button>
        <button class="btn btn-sm col">Cancel order</button>
        <button class="btn btn-sm col btn-success">send for approval</button>
    </div>
    <ul class="progress-tracker">
        <li class="progress-step is-complete">
            Draft purchase creation
          <div class="progress-marker"></div>
        </li>
        <li class="progress-step is-complete">
            Awaiting purchasing team approval
          <div class="progress-marker"></div>
        </li>
        <li class="progress-step is-active">
            Awaiting Supplier approval
          <div class="progress-marker"></div>
        </li>
        <li class="progress-step">
            Order processing
          <div class="progress-marker"></div>
        </li>
        <li class="progress-step">
            Awaiting shipment
          <div class="progress-marker"></div>
        </li>
        <li class="progress-step">
            Order dispatched
          <div class="progress-marker"></div>
        </li>
      </ul>
 </div>
<!-- Purchase order card -->
      <div class="card p-4">
        <h2 class="p-3"><b>PURCHASE ORDER</b></h2>
        <div class="card-body">
            <div class="row">
                <div class="col-6 ">
                    <b>Ohio, Columbus, 5303 Fisher Rd</b><br>
                    <b>614-205-9702</b>
                </div>
                <div class="col-6">
                    Created On Date: <b>08/18/2021, 1:08PM</b>
                    <br> Preferred Shipping Date: <b>08/18/2021, 2:00PM</b>
                </div>
                <div class="row pt-4">
                    <div class="col-lg-6">
                      <div class="card p-2">
                        <h6 class="card-title p-1 ">To</h6>
                        <div class="row">
                            <div class="col-4">company: </div>
                            <div class="col-8"><b>Wells & Wade</b></div>
                        </div>
                        <div class="row">
                            <div class="col-4">Address: </div>
                            <div class="col-8"><b>Wells & Wade</b></div>
                        </div>
                        <div class="row">
                            <div class="col-4">Phone: </div>
                            <div class="col-8"><b>Wells & Wade</b></div>
                        </div>
                    </div>
                      </div>
                        
                    <div class="col-lg-6 p-2">
                      <div class="card">
                        <h6 class="card-title p-1">Ship To</h6>
                        <div class="row">
                            <div class="col-4">company: </div>
                            <div class="col-8"><b>Engineered Wood Construction</b></div>
                        </div>
                        <div class="row">
                            <div class="col-4">Address: </div>
                            <div class="col-8"><b>Wells & Wade</b></div>
                        </div>
                        <div class="row">
                            <div class="col-4">Phone: </div>
                            <div class="col-8"><b>Wells & Wade</b></div>
                        </div>
                    </div>
                      </div>
                        
                </div>
                <!-- item detail table -->
                <h2 class="card-title">Item details</h2>
                  
                  <!-- Table with stripped rows -->
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Photo</th>
                        <th>
                          <b>N</b>ame
                        </th>
                        <th>SKU</th>
                        <th>Price</th>
                        <th>On-Hand</th>
                        <th>Units</th>
                        <th>Quantity</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr> 
                        <td><a href="#"><img width="50" src="assets/img/product-1.jpg" alt=""></a></td>
                        <td>Unity Pugh</td>
                        <td>9958</td>
                        <td>Curicó</td>
                        <td>2005/02/11</td>
                        <td>1</td>
                        <td>Curicó</td>
                        <td>2005/02/11</td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->
        </div>
            <div class="row">
                <p class="col-2">Subtotal</p>
                <p class="col-3">$2354626</p>
            </div>
            <div class="row">
                <p class="col-2">Shipping</p>
                <p class="col-3">$0.00</p>
            </div>
            <div class="row">
                <h4 class="col-2">Total</h4>
                <h4 class="col-4">$2425624</h4>
            </div>

        </div>
      </div>
{% endblock %}