{% extends 'base.html' %}
{% block nav_p_order %}{%endblock%}
{% block nav_p_p %}{%endblock%}

{% block main %}

    <nav style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{%url 'purchases'%}">Purchase Order</a></li>
          <li class="active breadcrumb-item">New purcahse Order #{{number}}</li>
        </ol>
      </nav>

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

        <h2 class="card-title"><b>Item details</b></h2>
              
              <!-- Table with stripped rows -->
              <table class="table">
                <thead>
                  <tr>
                    <td>Photo</td>
                    <td>
                      Name
                    </td>
                    <td>SKU</td>
                    <td>Price</td>
                    <td>Units</td>
                    <td>Quantity</td>
                    <td>Total</td>
                  </tr>
                </thead>
                <tbody>
                  <form action="" id="form1" method="post">
                    {%csrf_token%}
                    <tr> {%for i in items%}
                    <td><a href="#"><img width="50" src="{%if i.item.photo%} {{i.item.photo.url}} {%endif%}" alt="{[i.item.name]}"></a></td>
                    <td>{{i.item.name}}</td>
                      <td>{{i.item.sku}}</td>
                      <td>₹{{i.price}}</td>
                      <td>{{i.units}}</td>
                      <td><input type="text" hidden name="item" value="{{i.id}}">
                        <input type="number" value="{{i.quantity}}" name="quantity" onchange="document.querySelector('#form1').submit()"></td>
                      <td>₹{{i.total_price}}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </form>
                </table>
              
        <!-- End Table with stripped rows -->
         {% load sum_filter %}
         
        <div class="row">
          <p class="col-2">Subtotal</p>
          <p class="col-3" id="sub">{{items |add_p_items }}</p>
        </div>
          <div class="row">
          <p class="col-2">offer</p>
          <input class="col-2" type="number" name="discount" id="discount"  value="0" onchange="sub = document.querySelector('#sub').textContent; total = document.querySelector('#total').textContent = Number(sub)+Number(this.value)">
        </div>
          <div class="row">
          <h4 class="col-2" >Total</h4>
          <h4 class="col-4" id="total" ></h4>
      </div>
              <!-- End Table with stripped rows -->

        </div>
      </div>

      <h2 class="card-title"><b>Order details</b></h2>
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">

            <!-- Vertical Form -->
            <div class="col-12">
              <label class=" col-form-label">Supplier</label>
              <div class="col-lg-6">
                <form action="">
                  <select class="form-select" name="supplier" id="supplier"  onchange="this.form.submit();">
                  {% for i in suppliers %}
                  <option value="{{i.id}}" {% if supplier.id == i.id %}selected
                  {% endif %}>{{i.name}}</option>
                  {% endfor %}
                  <!-- option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option> -->
                </select>
                </form>
              </div>
            </div>
            <form class="row g-3" action="{% url 'purchase' number %}" method="post" onsubmit="document.querySelector('#form1').sumbit();ths.form.submit();">
              {% csrf_token %}
                  
              <div class="col-12">
                <label class="col-form-label">Billing Address</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" value="{{supplier.address}}"  name="bill_address" id="bill">
                </div>
              </div>
              <div class="col-12">
                <label class=" col-form-label" >Shipping Address</label>
                <div class="col-lg-6">
                  <input class="form-control" value="{{supplier.address}}" type="text" name="ship_address" id="ship">
                  </select>
                </div>
              </div>
              <div class="col-12">
                <label class=" col-form-label">Shipping Method</label>
                <div class="col-lg-6">
                    <select class="form-select" name="ship_method" aria-label="Default select example">
                      {% for i in ship_method %}
                      <option value="{{i.id}}">{{i.method}}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-12">
                <label class=" col-form-label">Preferred Shipping date</label>
                <div class="col-lg-6">
                    <input type="datetime" name="preferred_date" id="datein">
                </div>
              </div>
              
              <div class="">
                <button type="submit" class="btn btn-success">Create Purchase Order</button>
              </div>
            </form><!-- Vertical Form -->

          </div>
        </div>

      </div>
    </div>
    </section>
    {% endblock %}
    {% load static %}
    {% block code %}
    <script src="{% static 'assets/js/purchase_draft.js' %}"></script>
    {% endblock %} 