{% extends 'base.html' %}
{% block nav_sales %}{%endblock%}
{% block nav_sales_p %}{%endblock%}
{% block nav_sales_c %}{%endblock%}

{% block main %}

    <div class="pagetitle">
        <h1>Sales Orders</h1>
      </div><!-- End Page Title -->
  
    <div class="col-12">
      <div class="col-12">
        <div class="col">
          <button type="button" class="bi bi-sliders btn btn-primary" data-bs-toggle="modal" data-bs-target="#verticalycentered">
            Filter
          </button>
  
            </div>
            <div class="modal fade" id="verticalycentered" tabindex="-1">
              <form class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Filter</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="filter">
                      <select name="date" class=" form-select">
                        <option disabled selected>Date</option>
                        <option value="today">Today</option>
                        <option value="month">This Month</option>
                        <option value="year">This Year</option>
                      </select>
                    </div>
                    <div class="filter">
                      <select name="orderby" class=" form-select">
                        <option disabled selected>Sort by</option>
                        <option value="id">Order</option>
                        <option value="updated">Updated</option>
                        <option value="created_date">Created</option>
                        <option value="total_amount">Amount</option>
                        <option value="status">Status</option>
                      </select>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Apply</button>
                  </div>
                </div>
              </form>
            </div><!-- End Vertically centered Modal-->
      </div>
        <div class="card overflow-auto">

          <div class="card-body">
            <h5 class="card-title"> <span>| Today</span></h5>

            <table class="table datatable">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Customer</th>
                  <th scope="col">Created</th>
                  <th scope="col">Updated</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                {% for i in sales %}
                <tr>
                  <th scope="row"><a href="{% url 'get_sale' i.id %}">#{{i.id}}</a></th>
                  <td>{{i.customer}}</td>
                  <td>{{i.created_date}}</td>
                  <td>{{i.updated}}</td>
                  <td>
                    {{i.total_amount}}
                  </td>
                  <td><span class="badge {%if i.status.id == 0%}bg-info{%elif i.status.id == 1%}bg-secondary{%elif i.status.id == 2%}bg-primary{%elif i.status.id == 3%}bg-success{%elif i.status.id == 4%}bg-info{%elif i.status.id == 5%}bg-primary{%elif i.status.id == 6%}bg-danger{%endif%}">{{i.status.status}}</span></td>

                </tr>
                {% endfor %}
                
              </tbody>
            </table>

          </div>

        </div>
      </div><!-- End Recent Sales -->

{% endblock %}
